.navbar{
    margin-left: 2rem;
    margin-right: 2rem;
    .img-small{
        max-height: 4rem;
    }
}
.inicio{
    margin-top: 2rem;
    text-align: justify;
    .QR{
        margin: 2rem;
        border-radius: 5rem;
    }
    h3{
        font-size: 1.5rem;
    }
}
.info{
    margin-top: 2rem;
    text-align: justify;
    .cover{
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 5rem;
    }
}
footer{
    position: auto;
}