h2{
  font-size: 2.5rem;
}
.navbar{
  margin-right: 1rem;
  .img-small{
    max-height: 4rem;
    margin-left: 1rem;
  }
}
.searchBar{
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.inicio{
  .Texto{
    font-size: 5rem;
    color: darkgreen;
  }
}

body {
  font-size: 140%;
  background-color: #FCDCDF;
  background-image: url(https://wallpapercave.com/wp/wp8210019.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  color: white;
}
