.inicio{
  background-image: url('/docs/img/img-menu/y7.webp'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    .Texto{
      font-size: 5rem;
      color:black;
    }
    }
/* Estilos personalizados para el cuadro y otros elementos */
.custom-cuadro {
  position: relative;
  width: 450px;
  height: 250px; /* Altura inicial del cuadro */
  background-color:#FBC596;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease; /* Aplicar transición a la altura del cuadro */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
}

.custom-cuadro img {
  max-width: 100%; /* La imagen se ajustará automáticamente al tamaño del cuadro */
  max-height: 100%; /* La imagen se ajustará automáticamente al tamaño del cuadro */
  z-index: 1; /* Colocar la imagen detrás del texto */
}

.custom-cuadro .texto {
  position: absolute;
  top: 10px; /* Ajustar la distancia entre el texto y la parte superior del cuadro */
  left: 0;
  right: 0;
  color:black;
  text-align: center;
  padding: 10px;
  z-index: 2; /* Colocar el texto delante de la imagen */
  font-size: 30px;
}

.custom-cuadro:hover {
  transform: scale(1.1);
}
