.navbar{
  background-color: #7A4D25;
  .img-small{
    max-height: 4rem;
    margin-left: 1rem;
  }
}
.searchBar{
  margin-left: 2rem;
  margin-right: 2rem;
}
main{
  background-color: #C77D3C
}
.inicio{
  background-color: #C77D3C;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    }

.custom-cuadro {
  margin: 1rem;
  position: relative;
  width:auto;
  height: 15rem;
  background-color:#FBC596;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
  .img{
    max-width: 225px;
    max-height: 100px;
    z-index: 1;
  }
  .texto{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    color:black;
    text-align: center;
    padding: 10px;
    z-index: 2;
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
  }
  .boton{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: background-color 0.3s ease;
  }
}
.custom-cuadro :hover{
  transform: scale(1.1);
}
/*FOOTER*/
.card{
  .card-header{
    font-family: 'Cherry Swash', serif;
    background-color: #7A6049;
    color: #FFFF;
  }
  .card-body{
    background-color: #7A4D25;
    .card-title{
      font-family: 'Cherry Swash', serif;
    }
    .card-title{
      color: #FFFF;
    }
    .card-text{
      font-family: 'Comfortaa', sans-serif;
      color: #FFFF;
      .card-bttn{
        margin: .5rem;
      }
    }
  }
}
