 .inicio{
    background-color:#C77D3C;
    .Texto{
      font-size: 5rem;
      color: darkgreen;
    }
    }
/* Estilos personalizados para el cuadro y otros elementos */
.custom-cuadro {
  position: relative;
  width: 450px;
  height: 250px; /* Altura inicial del cuadro */
  background-color:#FBC596;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease; /* Aplicar transición a la altura del cuadro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-cuadro img {
  max-width: 100%; /* La imagen se ajustará automáticamente al tamaño del cuadro */
  max-height: 100%; /* La imagen se ajustará automáticamente al tamaño del cuadro */
  z-index: 1; /* Colocar la imagen detrás del texto */
}

.custom-cuadro .texto {
  position: absolute;
  top: 10px; /* Ajustar la distancia entre el texto y la parte superior del cuadro */
  left: 0;
  right: 0;
  color:black;
  text-align: center;
  padding: 10px;
  z-index: 2; /* Colocar el texto delante de la imagen */
  font-size: 30px;
}

.custom-cuadro:hover {
  transform: scale(1.1);
}
/* Estilos específicos para la navbar de Bootstrap */
.navbar {
  background-color: #333;
  color: #fff;
}

/* Estilos específicos para el enlace de la navbar de Bootstrap */
.navbar-nav .nav-link {
  color: #fff;
}

/* Otros estilos personalizados para tu aplicación */
