
.TituloF{
    background-color: #7A6049;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Cherry Swash', serif;
}

.Texto2{
    font-size: 25px;
    font-family: 'Comfortaa', sans-serif;
}

.navbar{
    margin-right: 1rem;
    .img-small{
    max-height: 4rem;
    margin-left: 1rem;
    }
}
.searchBar{
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.inicio{
    background-image: url('/docs/img/img-menu/madera.webp'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}

body {
    font-size: 140%;
    background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: aliceblue;
}

.card {
    left: 27px;
    
}

.card-body{
    background-color: #FBC596;
}