.navbar{
  background-color: #7A4D25;
  .img-small{
    max-height: 4rem;
    margin-left: 1rem;
  }
}
main{
  background-color: #C77D3C
}
.searchBar{
  margin: 1rem;
  text-align: center;
}
/* Productos home*/
#productos-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
justify-content: center;}

.tarjeta-producto{
  background-color: var(--color-acento-claro);
  text-align: center;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 200ms;
}

.tarjeta-producto:hover{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  translate: 0px -5px;
}

.tarjeta-producto img{
  max-width:100%;
  aspect-ratio: 1.5;
}

.precio{
  font-weight: 600;
}

.tarjeta-producto button{
  font-size: larger;
  background-color: var(--color-acento);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  border:unset;
  cursor:pointer;
}
/*FOOTER*/
.card{
  .card-header{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Cherry Swash', serif;
    background-color: #7A6049;
    color: #FFFF;
  }
  .card-body{
    margin: 1rem;
    background-color: #7A4D25;
    .card-title{
      font-weight: bold;
      font-family: 'Cherry Swash', serif;
      color: #FFFF;
      margin-top: .5rem;
    }
    .card-text{
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-family: 'Comfortaa', sans-serif;
      color: #FFFF;
    }
  }
}