.navbar{
    background-color: #7A4D25;
    .img-sm{
        max-height:4rem;
    }
}
main{
    background-color: #C77D3C;
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }
    .h-custom {
    height: calc(100% - 73px);
    }
    @media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }
}
footer{
    .bg-color{
        background-color: #7A4D25;
    }
    .txt-sm{
        margin-top: .5rem;
        font-size: 1rem;
    }
    .txt-mx{
        text-align: center;
    }
    .txt-bold{
        font-weight: bolder;
        font-size: 1.5rem;
    }
}